[submodule "firmware/basys3_try_neorv32/neorv32"]
	path = firmware/basys3_try_neorv32/neorv32
	url = git@github.com:stnolting/neorv32.git
[submodule "firmware/basys3_neorv32_pulser/neorv32"]
	path = firmware/basys3_neorv32_pulse_counter/neorv32
	url = git@github.com:stnolting/neorv32.git
